.img-thumbnail {
    margin: 25px;
    width: 85%;
    height:  85%;
}

.card-body {
    padding: 0 25px;
}

.card-footer{
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
}

@media (min-width: 576px) {
    .col-profile {
        width: 100%;
    }

    .col-tabs {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .col-profile {
        width: 33%;
    }

    .col-tabs {
        width: 67%;
    }
}