<div class="container mt-5">
    <div style="text-align: center;">
        @if(!registerMode){
        <h1>Welcome to the Fit App</h1>
        <p class="lead">Ready to elevate your fitness game? Log your progress, share your journey,
             and connect with a community that’s here to support you every step of the way. Let the Gainz begin!</p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">Register</button>
            <button (click)="openLearnMoreModal()" class="btn btn-primary btn-lg me-2">Learn more</button>
            <button (click)="startGuestMode()" class="btn btn-danger btn-lg me-2">Guest Mode</button>
        </div>
        } @else {
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4">
                    <app-register 
                        (cancelRegister)="cancelRegisterMode($event)"
                    >
                    </app-register>
                </div>
            </div>
        </div>
        }
    </div>
</div>